<!doctype html>
<html lang="en-us">

<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>在c++代码中写js代码</title>
</head>

<body>
    <p>编译命令：emcc -o webAssembly/test/hello.html webAssembly/test/hello.cpp -O3 -s WASM=1 --shell-file webAssembly/test/html_template/shell_minimal.html
    </p>
    C++调用javascript代码，在c++文件中写js代码。EM_ASM是一个宏，会调用嵌入的 JavaScript 代码。注意，JavaScript 代码要写在大括号里面。 然后，将这个程序编译成asm.js。 {{{ SCRIPT }}}
</body>

</html>