<!doctype html>
<html lang="en-us">

<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>在C++文件的js代码中调用c++代码</title>
</head>

<body>
    <p>编译命令为：emcc -s 'EXTRA_EXPORTED_RUNTIME_METHODS=["cwrap"]' -s EXPORTED_FUNCTIONS="['_SquareVal', '_main']" -o webAssembly/test3/hello.html webAssembly/test3/hello.cpp -O3 -s WASM=1 --shell-file webAssembly/test3/html_template/shell_minimal.html</p>
    {{{ SCRIPT }}}
</body>

</html>