<!doctype html>
<html lang="en-us">

<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>C++与javascript通信</title>
</head>

<body>
    <p>编译命令：emcc -o webAssembly/test2/hello.html webAssembly/test2/hello.cpp -O3 -s WASM=1 --shell-file webAssembly/test2/html_template/shell_minimal.html</p>
    {{{ SCRIPT }}}
</body>

</html>