<!doctype html>
<html lang="en-us">

<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>在js代码中调用c++代码</title>
</head>

<body>
    <p>输出C函数，供网页里面的JavaScript脚本调用。</p>
    <p>编译命令为：emcc -s EXPORTED_FUNCTIONS="['_SquareVal']" -s 'EXTRA_EXPORTED_RUNTIME_METHODS=["cwrap"]' -o webAssembly/test4/hello.html webAssembly/test4/hello.cpp -O3 -s WASM=1 --shell-file webAssembly/test4/html_template/shell_minimal.html</p>
    {{{ SCRIPT }}}
    <script>
        SquareVal = Module.cwrap('SquareVal', 'number', ['number']);
        document.write("result == " + SquareVal(10));
    </script>
</body>

</html>